<!DOCTYPE html>
<html lang="en">
@{
    ViewBag.Name = Session["Username"];
}
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewBag.Title - 電競戰隊管理系統</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Updated: Jul 27 2023 with Bootstrap v5.3.1
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
    <section>
    </section>
    @Scripts.Render("/bundles/jquery")
    @RenderSection("scripts", required: false)
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <img src="~/img/logo.png" alt="">
                <span class="d-none d-lg-block">電競戰隊管理系統</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div><!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">



                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="~/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">您好，@ViewBag.Name</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>@ViewBag.Name</h6>
                            <span>選手</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>



                        <li>
                            <span>
                                @Html.ActionLink("系統登出", "Logout", "Login", new { area = "" }, new { @style = "color: black;", @class = "bi bi-box-arrow-right dropdown-item d-flex align-items-center " })
                            </span>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-heading">系統功能</li>
            <!-- ======= 選手打卡 ======= -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="~/Checkins">
                    <i class="ri ri-calendar-check-fill"></i>
                    <span>選手打卡</span>
                </a>
            </li>

            <!-- ======= 最新公告 ======= -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="~/News">
                    <i class="ri-bank-fill"></i>
                    <span>最新公告</span>
                </a>
            </li>
            <!-- ======= 帳號管理 ======= -->
            @*<li class="nav-item">
                <a class="nav-link collapsed" href="#">
                    <i class="ri ri-database-2-fill"></i>
                    <span>帳號管理</span>
                </a>
            </li>*@

            <!-- ======= 選手管理 ======= -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#player-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-layout-text-window-reverse"></i><span>選手管理</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="player-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="#">
                            <i class="bi bi-circle"></i><span>選手資訊維護</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="bi bi-circle"></i><span>選手數據管理</span>
                        </a>
                    </li>
                    @*<li>
                        <a href="#">
                            <i class="bi bi-circle"></i><span>選手出缺勤管理</span>
                        </a>
                    </li>*@
                </ul>
            </li>
            <!-- ======= 訓練計畫管理 ======= -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#">
                    <i class="ri ri-file-paper-2-fill"></i>
                    <span>訓練計劃管理</span>
                </a>
            </li>
            <!-- ======= 賽事管理 ======= -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#">
                    <i class="ri ri-gamepad-fill"></i>
                    <span>賽事管理</span>
                </a>
            </li>
            <!-- ======= 設備管理 ======= -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#equipment-nav" data-bs-toggle="collapse" href="#">
                    <i class="ri ri-inbox-archive-fill"></i><span>設備管理</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="equipment-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    @*<li>
                        <a href="#">
                            <i class="bi bi-circle"></i><span>設備物料管理</span>
                        </a>
                    </li>*@
                    <li>
                        <a href="#">
                            <i class="bi bi-circle"></i><span>設備借用維護</span>
                        </a>
                    </li>

                </ul>
            </li>
            <hr />
            <li class="nav-heading">個人專區</li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#">
                    <i class="ri-account-circle-fill"></i>
                    <span>個人資訊</span>
                </a>
                <a class="nav-link collapsed" href="#">
                    <i class="ri-emotion-happy-fill"></i>
                    <span>系統滿意度</span>
                </a>
            </li>


        </ul>

    </aside><!-- End Sidebar-->
    @RenderBody();
    <!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/chart.js/chart.umd.js"></script>
    <script src="~/vendor/echarts/echarts.min.js"></script>
    <script src="~/vendor/quill/quill.min.js"></script>
    <script src="~/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Scripts/main.js"></script>

</body>

</html>