@model WebApplication1.Models.News

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>

    <style>
        .card{
            padding:10px;
        }
        .pagetitle {
            font-size: 15px;
        }
        .txt a{
            color:white;
        }
    </style>
</head>
<main class="main" id="main">
    <div class="pagetitle">
        <h1>最新公告 <span class="pagetitle"><i class="ri-arrow-drop-right-fill"></i>刪除此筆公告內容。</span></h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/Home">Home</a></li>
                <li class="breadcrumb-item active">最新公告</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">

        <i class="ri-delete-bin-5-fill"></i> 注意！！請再次確認是否刪除此筆資料！！

    </div>

    <div class="card">
        <dl class="dl-horizontal">
            <dt>
                公告時間:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Creat_Time)
            </dd>

            <dt>
                公告類別:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category)
            </dd>

            <dt>
                公告主旨:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                公告內容:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Contant)
            </dd>

            <dt>
                附件網址:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Upload)
            </dd>

            <dt>
                發佈人:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AccountData.Username)
            </dd>

        </dl>
    </div>

    <div class="row">
        <div class="col-md-1">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color">
                     <input type="submit" value="確認刪除" class="btn btn-danger" /> 
                </div>
            }
        </div>
        
    <div class="col-md-1">
       <button class="btn btn-success" onclick="history.go(-1)"><i class="ri-delete-back-2-fill"></i> 返回</button>

    </div>
    </div>
    




</main>

