@model WebApplication1.Models.News

@{
    ViewBag.Title = "編輯公告";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>

    <style>
        .card{
            padding:10px;
        }
        .pagetitle {
            font-size: 15px;
        }
        .txt a{
            color:white;
        }
    </style>
</head>
<main class="main" id="main">

    <div class="pagetitle">
        <h1>最新公告 <span class="pagetitle"><i class="ri-arrow-drop-right-fill"></i>編輯此筆公告內容。</span></h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/Home">Home</a></li>
                <li class="breadcrumb-item active">最新公告</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <button class="btn btn-success" onclick="history.go(-1)"><i class="ri-delete-back-2-fill"></i> 返回</button>
        <hr />
        <div class="form-horizontal">
            <div class="card">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)

                <div class="form-group">
                    公告日期:
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Creat_Time, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Creat_Time, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    發佈人:
                    <div class="col-md-10">
                        @Html.DropDownList("Account_ID", null, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Account_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    公告分類:
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    公告主旨:
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    公告內容:
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Contant, new { @class = "form-control", @style = "white-space: pre;", @rows = 10, @wrap = "virtual" })
                        @Html.ValidationMessageFor(model => model.Contant, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    附件網址:
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Upload, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Upload, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="儲存" class="btn btn-success" />
                    </div>
                </div>

            </div>


        </div>
    }

</main>

