@model IEnumerable<WebApplication1.Models.News>
@{
    ViewBag.Title = "最新公告";
    ViewBag.Name = Session["Username"];
    ViewBag.Success = Session["msg"];
    ViewBag.role = Session["Role_ID"];
}
@* 權限判斷 *@
@{
    if (ViewBag.role == 1)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    else if (ViewBag.role == 2)
    {
        Layout = "~/Views/Shared/_Layout - manager.cshtml";
    }

    else
    {
        Layout = "~/Views/Shared/_Layout - player.cshtml";
    }

}


@{
    if (ViewBag.role == null)
    {
        // 權限是空值，跳轉到登錄頁
        <script>
            alert("你無使用權限，媽德給我去登錄吧")
            location.href = "/Login/Index";
        </script>

    }
}


<head>
    <style>
        .card {
            padding: 10px;
        }

        .pagetitle {
            font-size: 15px;
        }

        .txt a {
            color: white;
        }

        .card {
            padding: 10px;
        }
    </style>

</head>

<main class="main" id="main">
    <div class="pagetitle">

        <h1>最新公告 <span class="pagetitle"><i class="ri-arrow-drop-right-fill"></i>提供新增、修改、刪除一筆戰隊最新公告資訊。</span></h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/Home">Home</a></li>
                <li class="breadcrumb-item active">最新公告</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    @if (ViewBag.role < 3)
    {
        <button class="btn btn-danger">
            <span class="txt"><i class="ri-add-circle-fill"></i> @Html.ActionLink("新增", "Create")</span>
        </button>
    }



    <hr />
    <div id="card" class="card">
        <table class="table table-striped">

            <tr>
                <th>
                    公告時間
                </th>
                <th>
                    公告類別
                </th>
                <th>
                    公告主旨
                </th>

                <th>
                    發布人
                </th>
                <th>
                    資料操作
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Creat_Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountData.Username)
                    </td>
                    <td>
                        @{
                            if (ViewBag.role < 3)
                            {
                                <button class="btn btn-success btn-sm">
                                    <span class="txt">@Html.ActionLink("修改", "Edit", new { id = item.ID })</span>
                                </button>
                                <button class="btn btn btn-danger btn-sm">
                                    <span class="txt">@Html.ActionLink("刪除", "Delete", new { id = item.ID })</span>
                                </button>
                                <button class="btn btn-primary btn-sm">
                                    <span class="txt">@Html.ActionLink("查看公告", "Details", new { id = item.ID })</span>
                                </button>
                            }
                        }



                        @{
                            if (ViewBag.role == 3)
                            {
                                <button class="btn btn-primary btn-sm">
                                    <span class="txt">@Html.ActionLink("查看公告", "Details", new { id = item.ID })</span>
                                </button>
                            }
                        }
                    </td>

                </tr>

            }

        </table>

    </div>
    <!-----刪除 Model------->

    @if (ViewBag.Success != null)
    {
        <script>
            alert('@ViewBag.Success');
        </script>
    }









</main>

