@model IEnumerable<WebApplication1.Models.Checkin>

@{
    ViewBag.role = Session["Role_ID"];
    ViewBag.show = Session["show"];
    ViewBag.Name = Session["Username"];
    ViewBag.Title = "Index";
    ViewBag.account = Session["account"];
   // ViewBag.msg="";
   

}

@{
    if (ViewBag.role == 1)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    else if (ViewBag.role == 2)
    {
        Layout = "~/Views/Shared/_Layout - manager.cshtml";
    }

    else
    {
        Layout = "~/Views/Shared/_Layout - player.cshtml";
    }

}



@{
    if (ViewBag.role == null)
    {
        // 權限是空值，跳轉到登錄頁
        <script>
            alert("你無使用權限，媽德給我去登錄吧")
            location.href = "/Login/Index";
        </script>

    }

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>

        .card {
            padding: 10px;
        }

        .pagetitle {
            font-size: 15px;
        }

        .txt a {
            color: white;
        }

        .card {
            padding: 10px;
        }
    </style>
</head>
<body>

    <main class="main" id="main">
        @ViewBag.msg
        <div class="pagetitle">
            <h1>選手打卡 <span class="pagetitle"><i class="ri-arrow-drop-right-fill"></i>請提供說明</span></h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/Home">Home</a></li>
                </ol>
            </nav>
        </div>

        <div class="alert alert-warning alert-dismissible fade show">
          現在時間：@DateTime.Now.ToString()     |    請務必上、下班都要記得編輯打卡單並按儲存以確保資料完整性。
        </div>
        <hr />
        <div class="mb-3">
            <button class="btn btn-danger">
                <span class="txt"><i class="ri-add-circle-fill"></i> &nbsp;@Html.ActionLink("新增", "Create")</span>
            </button>

            <a href="~/STUCheckinsView" class="btn btn-primary" target="_parent">產生出勤紀錄表</a>

        </div>
        <div class="card info-card sales-card" id="card">
            <h5 class="mb-3 mt-3"><i class="ri-bank-line text-danger"></i>  <b>@ViewBag.Name  </b> 同學您好，以下是你的打卡紀錄.......</h5>
            <table class="table table-striped">
                <tr>
                    <th>
                        上班時間
                    </th>
                    <th>
                        下班時間
                    </th>
                    <th>
                        時數
                    </th>
                    <th>
                        備註
                    </th>

                    <th>資料操作</th>
                </tr>

                @foreach (var item in Model)
                {

                    <tr>
                        @if (ViewBag.account == item.AccountData.Account.ToString())
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Work_Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Getoff_Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.time)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Note)
                            </td>

                            <td>
                                @Html.ActionLink("編輯", "Edit", new { id = item.ID }, new { @class = "btn btn-success px-2" }) |
                                @Html.ActionLink("刪除", "Delete", new { id = item.ID }, new { @class = "btn btn-danger px-2" })
                            </td>
                        }

                    </tr>
                }

            </table>


        </div>


    </main>

</body>
</html>
@if (ViewBag.msg != null)
{
    <script>
            alert('@ViewBag.msg');
    </script>
}

@if (ViewBag.show != null)
{
    <script>
            alert(' @ViewBag.show');
    </script>
}

