@model WebApplication1.Models.AccountData

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    }

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<main class="main" id="main">

    <div class="pagetitle">
        <h1>刪除帳號 <span class="pagetitle"><i class="ri-arrow-drop-right-fill"></i>使用者刪除一筆帳號。</span></h1>
    </div>
    <body>
        <div>
            <hr /> 
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Account)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Account)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Username)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Username)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Password)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Password)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.E_mail)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.E_mail)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Phone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Static)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Static)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Creat)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Creat)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Logtime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Logtime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Note)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Note)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Role.Role1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Role.Role1)
                </dd>

            </dl>

                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </body>
